In [1]:
import pandas as pd
import numpy as np
import glob

import datetime
datetime.datetime.strptime

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:


path = r'/Users/jasonlim/Downloads/Non_fatal' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
frame.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1712238,"June 19, 2020",Ohio,Sandusky,600 block of Taylor St,0,0,NaN
1,1709813,"June 19, 2020",Wisconsin,Milwaukee,2200 block of Dr Martin Luther King Jr Dr,0,1,NaN
2,1712235,"June 19, 2020",New York,Harpursville,NaN,0,2,NaN
3,1709512,"June 19, 2020",Ohio,Sandusky,1002 W Jefferson St,0,2,NaN
4,1711324,"June 19, 2020",California,Visalia,S Central St,0,1,NaN

In [4]:
frame.sort_values(by='Incident Date', inplace=True)

In [5]:
frame.tail()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
2414,1697046,"May 31, 2020",Texas,Austin,715 E 8th St,0,1,NaN
2415,1694745,"May 31, 2020",Mississippi,Columbus,2000 6th St N,1,0,NaN
2416,1694080,"May 31, 2020",Illinois,Chicago,8300 S Kedzie Ave,1,0,NaN
2408,1693729,"May 31, 2020",Ohio,Cleveland,NaN,0,1,NaN
2528,1695054,"May 31, 2020",Maryland,Glen Burnie,Aquahart Rd and Hamlen Rd,0,0,NaN

In [6]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 541 to 2528
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Incident ID     11122 non-null  int64
 1   Incident Date   11122 non-null  object
 2   State           11122 non-null  object
 3   City Or County  11122 non-null  object
 4   Address         5361 non-null   object
 5   # Killed        11122 non-null  int64
 6   # Injured       11122 non-null  int64
 7   Operations      0 non-null      float64
dtypes: float64(1), int64(3), object(4)
memory usage: 782.0+ KB

In [7]:
new_df = frame[['Incident ID', 'Incident Date', 'State', 'City Or County','# Killed', '# Injured']]

In [8]:
# new_df.to_csv("non_fatal.csv", index=False)

In [9]:
new_df.groupby(['City Or County','State']).sum().sort_values('# Injured', ascending=False)

                                                              Incident ID  \
City Or County                          State
Chicago                                 Illinois               1553859568
Detroit                                 Michigan                574628908
Saint Louis                             Missouri                353135260
Milwaukee                               Wisconsin               339967326
Philadelphia                            Pennsylvania            261654720
Brooklyn                                New York                326731968
Washington                              District of Columbia    302167382
Houston                                 Texas                   299358216
Minneapolis                             Minnesota               204620146
Baltimore                               Maryland                305677476
Columbus                                Ohio                    224521408
Cleveland                               Ohio                    221133990
Memphis                                 Tennessee               214111860
San Antonio                             Texas                   200839678
Bronx                                   New York                200794438
New Orleans                             Louisiana               146424698
Louisville                              Kentucky                139476688
Indianapolis                            Indiana                 183660098
Atlanta                                 Georgia                 149661740
Shreveport                              Louisiana               122395826
Newark                                  New Jersey              112184608
Albany                                  New York                 78329428
Richmond                                Virginia                 88464470
Toledo                                  Ohio                    105558330
Nashville                               Tennessee               105444274
Charlotte                               North Carolina           74851462
Los Angeles                             California              112084248
Kansas City                             Missouri                115638148
Jacksonville                            Florida                 108758358
Denver                                  Colorado                 74757440
Fresno                                  California               74748110
Paterson                                New Jersey               61066150
Peoria                                  Illinois                 71468374
Boston                                  Massachusetts           132545486
Montgomery                              Alabama                  88307954
Syracuse                                New York                102098878
Dallas                                  Texas                   119208354
Sacramento                              California               64647252
Rochester                               New York                 85135988
Bridgeport                              Connecticut              78232714
Buffalo                                 New York                 54578442
Little Rock                             Arkansas                 74835206
Oakland                                 California               67922006
Chattanooga                             Tennessee                61250806
Wilmington                              Delaware                 51016182
Corona (Queens)                         New York                108920692
Hartford                                Connecticut              54430104
Dayton                                  Ohio                     61135608
Cincinnati                              Ohio                     88469114
Pittsburgh                              Pennsylvania             44212058
Virginia Beach                          Virginia                 34122722
South Bend                              Indiana                  47576900
Fort Worth                              Texas                    47598312
Jersey City                             New Jersey               34044258
Kalamazoo                               Michigan                 75019532
Miami                                   Florida                  51013180
New York (Manhattan)                    New York                 74863794
Trenton                                 New Jersey               37422654
Phoenix                                 Arizona                  64639072
Lake Charles                            Louisiana                13622322
Austin                                  Texas                    33975864
Lubbock                                 Texas                    57990888
Tampa                                   Florida                  44197426
Omaha                                   Nebraska                 64727076
Mobile                                  Alabama                  30637218
Aurora                                  Colorado                 44188580
Durham                                  North Carolina           37336228
Tallahassee                             Florida                  47651200
Jackson                                 Mississippi              64615722
Portsmouth                              Virginia                 30635146
Norfolk                                 Virginia                 34029204
Hampton                                 Virginia                 33956736
San Diego                               California               37412470
Las Vegas                               Nevada                   88313252
Lafayette                               Louisiana                23813604
Akron                                   Ohio                     51069362
Wichita                                 Kansas                   37453762
Daytona Beach                           Florida                  16924106
Tulsa                                   Oklahoma                 54297050
Myrtle Beach                            South Carolina           30583730
Newport News                            Virginia                 23748656
Raleigh                                 North Carolina           40886608
San Francisco                           California               20463330
Seattle                                 Washington               30594738
Macon                                   Georgia                  30539450
Huntsville                              Alabama                  27293628
El Paso                                 Texas                    23861578
Wyandanch                               New York                  6800012
East Saint Louis                        Illinois                 30571046
Orlando                                 Florida                  44227284
Racine                                  Wisconsin                20284336
Dover                                   Delaware                 47525460
Baton Rouge                             Louisiana                27226526
Sikeston                                Missouri                  3398422
Champaign                               Illinois                 23830074
Fort Wayne                              Indiana                  27215822
San Jose                                California               20313958
New Haven                               Connecticut              34020366
Portland                                Oregon                   37364924
Lexington                               Kentucky                 27201372
Decatur                                 Illinois                 23823786
Evansville                              Indiana                  44189812
Reading                                 Pennsylvania             13626310
Charleston                              South Carolina           27221126
Gulfport                                Mississippi              10173650
York                                    Pennsylvania             20474702
Columbus                                Georgia                  40925576
Mansfield                               Ohio                     30607940
Gastonia                                North Carolina           13615422
Vicksburg                               Mississippi              23678188
Birmingham                              Alabama                  44186954
Bakersfield                             California               33940522
Savannah                                Georgia                  20431278
Greensboro                              North Carolina           30599728
Flint                                   Michigan                 23813316
Murfreesboro                            Tennessee                17083936
Albuquerque                             New Mexico               44141828
Winston Salem (Winston-salem)           North Carolina           40744844
Saginaw                                 Michigan                 20383346
Oklahoma City                           Oklahoma                 37454346
Petersburg                              Virginia                 13579366
Bowman                                  South Carolina            3377506
Kansas City                             Kansas                   30482456
Suffolk                                 Virginia                 16991258
Fort Lauderdale                         Florida                  17006534
Fort Lauderdale (Sunrise)               Florida                   3372828
Lorain                                  Ohio                     16898360
Youngstown                              Ohio                     37472974
Salisbury                               North Carolina           17014322
Dyersburg                               Tennessee                 3398386
Lansing                                 Michigan                 30621130
Galveston                               Texas                    23740618
Springfield                             Massachusetts            40858838
Hope                                    Arkansas                  3399154
Greenville                              South Carolina           30633340
Bessemer                                Alabama                  17030314
Columbia                                Missouri                 34026904
Reno                                    Nevada                   20412984
Jonesville                              South Carolina            3374054
Michigan City                           Indiana                   6772512
High Point                              North Carolina           17052584
Scotland Neck                           North Carolina            3401728
Springfield                             Missouri                 27213912
Colorado Springs                        Colorado                 40750168
Port Arthur                             Texas                    13605280
Janesville                              Wisconsin                10206982
Rock Island                             Illinois                 23725972
Rockford                                Illinois                 34035638
Hesperia                                California               10214546
Madison                                 Wisconsin                71431698
Corpus Christi                          Texas                    23742876
East Orange                             New Jersey               10198344
Saint Paul                              Minnesota                40931886
Temple                                  Texas                    20458142
Davenport                               Iowa                     30569644
Florence                                South Carolina           10224948
Glen Burnie                             Maryland                 17028002
Troy                                    New York                 10228744
Ironton                                 Ohio                      3396552
Danville                                Illinois                 13594100
Sioux City                              Iowa                     16995502
Chester                                 Pennsylvania              6811006
Stockton                                California               33965618
Cedar Rapids                            Iowa                     30646202
Long Beach                              California               23744884
Altha                                   Florida                   3386492
New Iberia                              Louisiana                17007570
Pensacola                               Florida                  27313902
Atlantic City                           New Jersey               17011280
Pinetops                                North Carolina            6794796
Auburn                                  Alabama                   3423380
Paso Robles                             California                3403428
Wilmington                              North Carolina           23764694
Lumberton                               North Carolina           13695696
Rison                                   Arkansas                  3410710
Meridian                                Mississippi              30541522
Bloomington                             Illinois                 16974226
Woodbridge                              Virginia                  6807986
Waterloo                                Iowa                     20422568
Laurel                                  Mississippi              10199714
Antioch                                 California                6797002
West Palm Beach                         Florida                  13551220
Asheville                               North Carolina           10225138
Utica                                   New York                 13627864
Stevenson                               Alabama                   3405234
Newark                                  Delaware                 13539422
Vallejo                                 California               13634628
Union                                   Kentucky                  3375118
Niagara Falls                           New York                 20458502
Richmond                                Indiana                  10147754
Meriden                                 Connecticut               6802118
Fort Pierce                             Florida                   6837420
Ventura                                 California                3419766
Clairton                                Pennsylvania              6800138
Vero Beach                              Florida                   6778208
Riverside                               California               10225548
Martinsburg                             West Virginia            16968528
Hilton Head Island                      South Carolina            6802870
Ben Lomond                              California                3397712
Battle Creek                            Michigan                 23881010
Tucson                                  Arizona                  23743562
Springfield                             Illinois                 27253532
Muncie                                  Indiana                  13592720
Augusta                                 Georgia                  20472320
Greenwood                               Mississippi              17127296
Springfield                             Ohio                      6834530
Mishawaka                               Indiana                   6843358
Harrisburg                              Pennsylvania             16996006
Birmingham (Center Point)               Alabama                  10238080
Minneapolis (Crystal)                   Minnesota                 6851294
Hayward                                 California               13570224
Nebo                                    North Carolina            6803010
Hiawatha                                Iowa                      3386900
Friendswood                             Texas                     3410250
Columbia                                South Carolina           27122686
New Castle                              Pennsylvania             10202490
Roanoke                                 Virginia                 13655268
Billings                                Montana                  17031582
Victorville                             California               13626134
Tacoma                                  Washington               10225662
Kannapolis                              North Carolina           23777986
Fayetteville                            Arkansas                 13569242
Kansas City (Raytown)                   Missouri                 10170724
Katy                                    Texas                    10153172
Delray Beach                            Florida                   6793262
Albany                                  Georgia                  10221414
Cape Girardeau                          Missouri                 13531954
Boynton Beach                           Florida                  10272996
Canton                                  Ohio                     23752028
Warner Robins                           Georgia                   6823324
Terre Haute                             Indiana                  10176844
Edinburg                                Texas                     6820114
Saint Louis (Jennings)                  Missouri                 10164876
Thomaston                               Georgia                  10164244
Braddock                                Pennsylvania             10187206
Goshen                                  Indiana                   3405888
Sanford                                 Florida                   3424976
Dorchester                              Massachusetts            10174924
North Charleston                        South Carolina           13601804
Naples                                  Florida                   3385072
Erwin                                   Tennessee                 3402022
North Miami Beach (Aventura)            Florida                   3383236
Fort Dodge                              Iowa                     10215464
Pasadena                                California               13604976
Georgetown                              Kentucky                  6787418
Port Royal                              South Carolina            3425312
North Little Rock                       Arkansas                 20372586
Franklin                                Tennessee                 3416410
Palm Beach Gardens (Riviera Beach)      Florida                   6802082
Texas City                              Texas                     6797188
North Las Vegas                         Nevada                   13634946
Elizabeth                               New Jersey                6786172
Spring                                  Texas                     6779090
Spokane                                 Washington               16987246
Mount Vernon                            Illinois                  6803476
Goldsboro                               North Carolina            3398300
Fort Smith                              Arkansas                 10169964
Pageland                                South Carolina            3395208
Norwalk                                 Connecticut              17034344
Pembroke                                North Carolina           10197820
Florissant                              Missouri                  3422554
Fayetteville                            North Carolina           20361044
Staten Island                           New York                 10233534
Pittsfield                              Massachusetts            10162596
North Myrtle Beach (Atlantic Beach)     South Carolina            6820658
Sylmar                                  California                3410986
Odessa                                  Texas                    16985736
Fountain                                Colorado                  3377770

In [10]:
# Top 50

df_2020 = new_df.groupby(['City Or County','State']).agg({'# Killed':'sum',
                                                '# Injured':'sum',
                                                'Incident ID':'count'}).sort_values('# Injured', ascending=False).head(50)

In [11]:
df_2020.reset_index(inplace=True)

In [12]:
# Pull 2019 file

df_2019_all = pd.read_csv(r"/Users/jasonlim/Documents/GitHub/GVA/All shootings/2019_GVA_shootings.csv")

In [13]:
df_2019_all.head()

,address,city,date,id,injured,killed,source,state
0,1440 block of West Date St,Oxnard,1/1/2019,1290945,0,1,https://www.vcstar.com/story/news/2019/01/03/o...,California
1,French Camp Rd and EWS Woods Blvd,Stockton,1/1/2019,1291180,0,0,https://www.recordnet.com/news/20190101/multip...,California
2,3300 block of SW 29th St,Topeka,1/1/2019,1291196,0,0,https://www.wibw.com/content/news/Assault-call...,Kansas
3,8405 Wilcrest Dr,Houston,1/1/2019,1290204,1,0,https://www.click2houston.com/news/houston-are...,Texas
4,300 block of Union St,Rocky Mount,1/1/2019,1292836,1,0,http://www.reflector.com/Crime-and-Rescue/2019...,North Carolina

In [14]:
df_2019_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54187 entries, 0 to 54186
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   address  51420 non-null  object
 1   city     54187 non-null  object
 2   date     54187 non-null  object
 3   id       54187 non-null  int64
 4   injured  54187 non-null  int64
 5   killed   54187 non-null  int64
 6   source   54112 non-null  object
 7   state    54187 non-null  object
dtypes: int64(3), object(5)
memory usage: 3.3+ MB

In [15]:
df_2019_all['date'] = pd.to_datetime(df_2019_all['date'])

In [16]:
# 30 days from memorial Weekend of 2019 is 5/25/2019-6/24/2019

memo_2019 = df_2019_all[(df_2019_all['date']>='2019-05-25') & (df_2019_all['date']<='2019-06-24')]

In [17]:
memo_2019.head()

,address,city,date,id,injured,killed,source,state
20542,600 block of Collingwood St,Detroit,2019-05-25,1411105,0,1,https://www.freep.com/story/news/local/michiga...,Michigan
20543,1709 N Arlington Pl,Milwaukee,2019-05-25,1405092,1,0,https://www.wisn.com/article/24-year-old-woman...,Wisconsin
20544,Melody Ln,Valdosta (Remerton),2019-05-25,1408838,1,0,https://www.valdostadailytimes.com/news/local_...,Georgia
20545,3500 block of Eagle Trace,Memphis,2019-05-25,1405087,1,0,https://wreg.com/2019/05/25/man-injured-in-eas...,Tennessee
20546,Holly Cove Dr and Schooner Trail,Chesapeake,2019-05-25,1405196,9,1,https://wtkr.com/2019/05/27/man-shot-in-the-ne...,Virginia

In [18]:
memo_2019.columns

Index(['address', 'city', 'date', 'id', 'injured', 'killed', 'source',
       'state'],
      dtype='object')

In [19]:
# Group by same method
memo_2019_group = memo_2019.groupby(['city','state']).agg({'killed':'sum',
                                                'injured':'sum',
                                                'id':'count'}).sort_values('id', ascending=False).reset_index()

In [20]:
memo_2019_group.head()

           city                 state  killed  injured   id
0       Chicago              Illinois      57      238  246
1     Baltimore              Maryland      30       94  114
2   Saint Louis              Missouri      42       60   88
3  Philadelphia          Pennsylvania      26       84   88
4    Washington  District of Columbia      16       37   67

In [21]:
# combine two dfs, main is 2020. 

df_19N20 = df_2020.merge(memo_2019_group, left_on=['City Or County','State'], right_on=['city','state'])

In [22]:
df_19N20

,City Or County,State,# Killed,# Injured,Incident ID,city,state,killed,injured,id
0,Chicago,Illinois,210,948,914,Chicago,Illinois,57,238,246
1,Detroit,Michigan,54,256,338,Detroit,Michigan,20,41,49
2,Saint Louis,Missouri,72,204,208,Saint Louis,Missouri,42,60,88
3,Milwaukee,Wisconsin,32,192,200,Milwaukee,Wisconsin,4,35,36
4,Philadelphia,Pennsylvania,60,192,154,Philadelphia,Pennsylvania,26,84,88
5,Brooklyn,New York,28,146,192,Brooklyn,New York,7,36,39
6,Washington,District of Columbia,40,146,178,Washington,District of Columbia,16,37,67
7,Houston,Texas,52,146,176,Houston,Texas,16,35,51
8,Minneapolis,Minnesota,20,140,120,Minneapolis,Minnesota,6,13,14
9,Baltimore,Maryland,74,128,180,Baltimore,Maryland,30,94,114
10,Columbus,Ohio,34,122,132,Columbus,Ohio,8,22,27
11,Cleveland,Ohio,34,114,130,Cleveland,Ohio,11,27,34
12,Memphis,Tennessee,48,110,126,Memphis,Tennessee,18,54,66
13,San Antonio,Texas,26,104,118,San Antonio,Texas,12,31,43
14,Bronx,New York,12,102,118,Bronx,New York,2,18,21
15,New Orleans,Louisiana,24,94,86,New Orleans,Louisiana,13,44,54
16,Louisville,Kentucky,22,92,82,Louisville,Kentucky,17,19,35
17,Indianapolis,Indiana,40,84,108,Indianapolis,Indiana,13,26,31
18,Atlanta,Georgia,32,80,88,Atlanta,Georgia,11,16,26
19,Shreveport,Louisiana,14,70,72,Shreveport,Louisiana,8,14,16
20,Newark,New Jersey,6,66,66,Newark,New Jersey,6,24,51
21,Albany,New York,4,64,46,Albany,New York,0,5,5
22,Richmond,Virginia,10,60,52,Richmond,Virginia,5,35,36
23,Toledo,Ohio,14,58,62,Toledo,Ohio,1,15,13
24,Nashville,Tennessee,8,58,62,Nashville,Tennessee,5,22,30
25,Charlotte,North Carolina,22,56,44,Charlotte,North Carolina,6,27,33
26,Los Angeles,California,30,54,66,Los Angeles,California,13,20,22
27,Kansas City,Missouri,38,50,68,Kansas City,Missouri,11,19,23
28,Jacksonville,Florida,14,50,64,Jacksonville,Florida,13,30,35
29,Denver,Colorado,8,46,44,Denver,Colorado,5,5,11
30,Fresno,California,10,46,44,Fresno,California,4,17,22
31,Paterson,New Jersey,12,44,36,Paterson,New Jersey,1,7,13
32,Peoria,Illinois,4,44,42,Peoria,Illinois,2,8,13
33,Boston,Massachusetts,6,44,78,Boston,Massachusetts,7,12,50
34,Montgomery,Alabama,16,42,52,Montgomery,Alabama,2,11,12
35,Syracuse,New York,10,42,60,Syracuse,New York,2,5,7
36,Dallas,Texas,42,40,70,Dallas,Texas,19,17,31
37,Sacramento,California,16,40,38,Sacramento,California,4,4,7
38,Rochester,New York,12,38,50,Rochester,New York,2,13,27
39,Bridgeport,Connecticut,4,36,46,Bridgeport,Connecticut,1,7,13
40,Buffalo,New York,8,36,32,Buffalo,New York,1,16,14
41,Little Rock,Arkansas,18,36,44,Little Rock,Arkansas,4,11,19
42,Oakland,California,18,36,40,Oakland,California,4,27,26
43,Chattanooga,Tennessee,4,36,36,Chattanooga,Tennessee,2,10,11
44,Wilmington,Delaware,4,36,30,Wilmington,Delaware,0,4,12
45,Corona (Queens),New York,8,34,64,Corona (Queens),New York,1,4,8
46,Hartford,Connecticut,2,34,32,Hartford,Connecticut,1,4,7
47,Dayton,Ohio,8,34,36,Dayton,Ohio,5,17,25
48,Cincinnati,Ohio,24,32,52,Cincinnati,Ohio,12,19,32
49,Pittsburgh,Pennsylvania,10,30,26,Pittsburgh,Pennsylvania,8,14,18

In [23]:
df_19N20.columns

Index(['City Or County', 'State', '# Killed', '# Injured', 'Incident ID',
       'city', 'state', 'killed', 'injured', 'id'],
      dtype='object')

In [24]:
df_19N20.columns = ['City Or County', 'State', 'Total Fatalities_2020', 'Total Non-Fatal Injuries_2020', 'Total Incidents_2020',
       'city', 'state', 'Total Fatalities_2019', 'Total Non-Fatal Injuries_2019', 'Total Incidents_2019']

In [25]:
df_19N20.head()

,City Or County,State,Total Fatalities_2020,Total Non-Fatal Injuries_2020,Total Incidents_2020,city,state,Total Fatalities_2019,Total Non-Fatal Injuries_2019,Total Incidents_2019
0,Chicago,Illinois,210,948,914,Chicago,Illinois,57,238,246
1,Detroit,Michigan,54,256,338,Detroit,Michigan,20,41,49
2,Saint Louis,Missouri,72,204,208,Saint Louis,Missouri,42,60,88
3,Milwaukee,Wisconsin,32,192,200,Milwaukee,Wisconsin,4,35,36
4,Philadelphia,Pennsylvania,60,192,154,Philadelphia,Pennsylvania,26,84,88

In [26]:
# Filter out only needful columns

df_19N20_2= df_19N20[['City Or County', 'State', 'Total Fatalities_2020', 'Total Non-Fatal Injuries_2020', 'Total Incidents_2020',
          'Total Fatalities_2019', 'Total Non-Fatal Injuries_2019', 'Total Incidents_2019']]

In [27]:
# Export out

#df_19N20_2.to_excel(r"/Users/jasonlim/Downloads/Non_Fatal/non_fatal_2019N2019.xlsx", index=False)

## After Checking
We want to do:

1. combine NYC borough
2. use top 50 of sum of dead + injuries.
3. grab population data for 2018 or 2019, the population by 365 days * 30 days or take 1/12 of the population
4. please add calculations for:
a) the difference in count for fatal, non-fatal, incidents. 2020 - 2019 (so if 2020 higher, its positive)
b) rates per 100k population for 2019 and 2020 fatal, non-fatal, incidents
c) % difference in rates for fatal, non-fatal, incidents (e.g. 2019 rate = 10/100k, 2020 rate = 11/100k, 10% increase)

5. order the columns as city, state, % difference in rate non-fatal, % diff in rate fatal, % diff in rate incident, 2020 counts same order nf,f,i, 2019 counts same order nf,f,i, diff in count same order, total population, 2020 rates same order, 2019 rates same order (edited) 

6. sort the table to show highest %diff in rate nonfatal at top

### Check NYC boroughs

In [28]:

df_2020_a = new_df.groupby(['City Or County','State']).agg({'# Killed':'sum',
                                                '# Injured':'sum',
                                                'Incident ID':'count'}).sort_values('# Injured', ascending=False).reset_index()

In [29]:
df_2020_a[df_2020_a['State']=='New York']

                 City Or County     State  # Killed  # Injured  Incident ID
5                      Brooklyn  New York        28        146          192
14                        Bronx  New York        12        102          118
21                       Albany  New York         4         64           46
35                     Syracuse  New York        10         42           60
38                    Rochester  New York        12         38           50
40                      Buffalo  New York         8         36           32
45              Corona (Queens)  New York         8         34           64
56         New York (Manhattan)  New York         6         26           44
87                    Wyandanch  New York         2         16            4
157                        Troy  New York         2          8            6
183                       Utica  New York         2          6            8
188               Niagara Falls  New York         0          6           12
262               Staten Island  New York         0          4            6
291          Liverpool (Salina)  New York         0          4            2
318                Poughkeepsie  New York         2          4            6
319                  Monticello  New York         0          4            6
322                Harpursville  New York         0          4            2
405                    Lockport  New York         0          2            2
421                        Rome  New York         0          2            4
486                    Lakeview  New York         0          2            2
564                  Middletown  New York         0          2            2
588                      Auburn  New York         0          2            2
680              East Northport  New York         0          2            2
686        Syracuse (Mattydale)  New York         0          2            2
687                    Endicott  New York         0          2            2
717                   Tonawanda  New York         2          2            2
724                 Farmingdale  New York         0          2            2
733                   Jamesport  New York         0          2            2
843                 Schenectady  New York         2          0            4
859   Syracuse (North Syracuse)  New York         0          0            2
903                Slingerlands  New York         4          0            2
915                       Sodus  New York         2          0            2
929                White Plains  New York         4          0            4
980               Spring Valley  New York         0          0            2
1011                     Elmira  New York         0          0            6
1057                    Geneseo  New York         2          0            2
1058                     Geneva  New York         0          0            2
1146                  Amsterdam  New York         0          0            2
1261                    Manlius  New York         2          0            2
1286                      Nyack  New York         2          0            2
1299               Painted Post  New York         0          0            2
1328      New City (Clarkstown)  New York         4          0            2
1329               New Rochelle  New York         2          0            2
1331                   Newburgh  New York         0          0            4

In [30]:
df_2020_a[df_2020_a['State']=='Pennsylvania']

                City Or County         State  # Killed  # Injured  Incident ID
4                 Philadelphia  Pennsylvania        60        192          154
49                  Pittsburgh  Pennsylvania        10         30           26
102                    Reading  Pennsylvania         2         12            8
105                       York  Pennsylvania         0         12           12
161                    Chester  Pennsylvania         0          8            4
193                   Clairton  Pennsylvania         0          6            4
207                 Harrisburg  Pennsylvania         6          6           10
215                 New Castle  Pennsylvania         0          6            6
234                   Braddock  Pennsylvania         2          6            6
295                  Lewisburg  Pennsylvania         0          4            2
324                  Lancaster  Pennsylvania         2          4            6
350                  Aliquippa  Pennsylvania         0          4            4
444    Kingston (Edwardsville)  Pennsylvania         2          2            2
448      Carnegie (Heidelberg)  Pennsylvania         0          2            2
490                 Mckeesport  Pennsylvania         4          2            6
503     Pittsburgh (Brookline)  Pennsylvania         0          2            2
506   Pittsburgh (Wilkinsburg)  Pennsylvania        12          2            8
579                    Ridgway  Pennsylvania         0          2            2
610                Monroeville  Pennsylvania         0          2            2
636                      Darby  Pennsylvania         0          2            2
649                   Smithton  Pennsylvania         2          2            2
651                    Hanover  Pennsylvania         0          2            2
761                Upper Darby  Pennsylvania         0          2            2
765                   Scranton  Pennsylvania         2          2            2
784                    Sunbury  Pennsylvania         0          0            2
806                Port Carbon  Pennsylvania         0          0            2
829                      Tioga  Pennsylvania         2          0            2
849             York New Salem  Pennsylvania         0          0            2
887                Turbotville  Pennsylvania         0          0            2
901                  Uniontown  Pennsylvania         2          0            2
953              State College  Pennsylvania         0          0            2
973               Wilkes Barre  Pennsylvania         0          0            4
974               Williamsport  Pennsylvania         0          0            2
998                     Easton  Pennsylvania         2          0            2
1014                      Erie  Pennsylvania         0          0            4
1025             Connellsville  Pennsylvania         0          0            2
1127                 Bethlehem  Pennsylvania         0          0            2
1131               Biglerville  Pennsylvania         2          0            2
1142                 Allentown  Pennsylvania         2          0            2
1144                   Altoona  Pennsylvania         4          0            2
1191                  Carlisle  Pennsylvania         0          0            2
1194                Canonsburg  Pennsylvania         0          0            2
1229                Middletown  Pennsylvania         0          0            2
1236                    Milton  Pennsylvania         4          0            2
1295             Osceola Mills  Pennsylvania         0          0            2
1402                 Langhorne  Pennsylvania         2          0            2
1404                  Lansford  Pennsylvania         6          0            2
1410                 Lehighton  Pennsylvania         2          0            2
1444                  Kingsley  Pennsylvania         2          0            2

In [31]:
# For NYC in 2020
new_df.loc[(new_df['City Or County'].str.contains('Queens'))|(new_df['City Or County'].str.contains('Brooklyn'))
          |(new_df['City Or County'].str.contains('Bronx'))|(new_df['City Or County'].str.contains('Manhattan'))
          |(new_df['City Or County'].str.contains('Staten Island'))&(new_df['State']=='New York'), 
              'City Or County'] = "NYC"

# Syracuse
new_df.loc[(new_df['City Or County'].str.contains('Syracuse'))&(new_df['State']=='New York'), 
              'City Or County'] = "Syracuse"
# Pittsburgh
new_df.loc[(new_df['City Or County'].str.contains('Pittsburgh'))&(new_df['State']=='Pennsylvania'), 
              'City Or County'] = "Pittsburgh"


# I cut off on Pittsburgh because other cities will not be in top 50

/Users/jasonlim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [32]:
# Group them first.

df_2020 = new_df.groupby(['City Or County','State']).agg({'# Killed':'sum',
                                                '# Injured':'sum',
                                                'Incident ID':'count'}).reset_index().sort_values(by='# Injured', ascending=False)

In [33]:
df_2020.head()

     City Or County         State  # Killed  # Injured  Incident ID
209         Chicago      Illinois       210        948          914
877             NYC      New York        54        312          424
312         Detroit      Michigan        54        256          338
1124    Saint Louis      Missouri        72        204          208
1011   Philadelphia  Pennsylvania        60        192          154

In [34]:
# For NYC in 2019
memo_2019.loc[(memo_2019['city'].str.contains('Queens'))|(memo_2019['city'].str.contains('Brooklyn'))
          |(memo_2019['city'].str.contains('Bronx'))|(memo_2019['city'].str.contains('Manhattan'))
          |(memo_2019['city'].str.contains('Staten Island'))&(memo_2019['state']=='New York'), 
              'city'] = "NYC"

# Syracuse
memo_2019.loc[(memo_2019['city'].str.contains('Syracuse'))&(memo_2019['state']=='New York'), 
              'city'] = "Syracuse"

# Pittsburgh
memo_2019.loc[(memo_2019['city'].str.contains('Pittsburgh'))&(memo_2019['state']=='Pennsylvania'), 
              'city'] = "Salt Lake City"

/Users/jasonlim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [35]:
# Group by same method
memo_2019_group = memo_2019.groupby(['city','state']).agg({'killed':'sum',
                                                'injured':'sum',
                                                'id':'count'}).sort_values('id', ascending=False).reset_index()

In [36]:
memo_2019_group.head()

           city         state  killed  injured   id
0       Chicago      Illinois      57      238  246
1     Baltimore      Maryland      30       94  114
2           NYC      New York      17       66   95
3   Saint Louis      Missouri      42       60   88
4  Philadelphia  Pennsylvania      26       84   88

###  Create new column for sum of dead + injuries.

In [37]:
df_2020['Total injured or killed'] = df_2020['# Killed'] + df_2020['# Injured']
memo_2019_group['Total injured or killed'] = memo_2019_group['killed'] + memo_2019_group['injured']

In [38]:
df_2020.head()

,City Or County,State,# Killed,# Injured,Incident ID,Total injured or killed
209,Chicago,Illinois,210,948,914,1158
877,NYC,New York,54,312,424,366
312,Detroit,Michigan,54,256,338,310
1124,Saint Louis,Missouri,72,204,208,276
1011,Philadelphia,Pennsylvania,60,192,154,252

In [39]:
memo_2019_group.head()

           city         state  killed  injured   id  Total injured or killed
0       Chicago      Illinois      57      238  246                      295
1     Baltimore      Maryland      30       94  114                      124
2           NYC      New York      17       66   95                       83
3   Saint Louis      Missouri      42       60   88                      102
4  Philadelphia  Pennsylvania      26       84   88                      110

In [40]:
# Choose Top 50 first 2020.

df_2020_top = df_2020.sort_values('Total injured or killed', ascending=False).reset_index(drop=True).head(50)

In [41]:
df_2020_top

,City Or County,State,# Killed,# Injured,Incident ID,Total injured or killed
0,Chicago,Illinois,210,948,914,1158
1,NYC,New York,54,312,424,366
2,Detroit,Michigan,54,256,338,310
3,Saint Louis,Missouri,72,204,208,276
4,Philadelphia,Pennsylvania,60,192,154,252
5,Milwaukee,Wisconsin,32,192,200,224
6,Baltimore,Maryland,74,128,180,202
7,Houston,Texas,52,146,176,198
8,Washington,District of Columbia,40,146,178,186
9,Minneapolis,Minnesota,20,140,120,160
10,Memphis,Tennessee,48,110,126,158
11,Columbus,Ohio,34,122,132,156
12,Cleveland,Ohio,34,114,130,148
13,San Antonio,Texas,26,104,118,130
14,Indianapolis,Indiana,40,84,108,124
15,New Orleans,Louisiana,24,94,86,118
16,Louisville,Kentucky,22,92,82,114
17,Atlanta,Georgia,32,80,88,112
18,Kansas City,Missouri,38,50,68,88
19,Los Angeles,California,30,54,66,84
20,Shreveport,Louisiana,14,70,72,84
21,Dallas,Texas,42,40,70,82
22,Charlotte,North Carolina,22,56,44,78
23,Newark,New Jersey,6,66,66,72
24,Toledo,Ohio,14,58,62,72
25,Richmond,Virginia,10,60,52,70
26,Albany,New York,4,64,46,68
27,Nashville,Tennessee,8,58,62,66
28,Jacksonville,Florida,14,50,64,64
29,Montgomery,Alabama,16,42,52,58
30,Fresno,California,10,46,44,56
31,Cincinnati,Ohio,24,32,52,56
32,Paterson,New Jersey,12,44,36,56
33,Pittsburgh,Pennsylvania,22,34,36,56
34,Sacramento,California,16,40,38,56
35,Denver,Colorado,8,46,44,54
36,Little Rock,Arkansas,18,36,44,54
37,Oakland,California,18,36,40,54
38,Syracuse,New York,10,44,64,54
39,Rochester,New York,12,38,50,50
40,Boston,Massachusetts,6,44,78,50
41,Phoenix,Arizona,24,24,38,48
42,Peoria,Illinois,4,44,42,48
43,Buffalo,New York,8,36,32,44
44,Las Vegas,Nevada,26,18,52,44
45,Jackson,Mississippi,24,20,38,44
46,Dayton,Ohio,8,34,36,42
47,Wilmington,Delaware,4,36,30,40
48,Chattanooga,Tennessee,4,36,36,40
49,Bridgeport,Connecticut,4,36,46,40

In [42]:
# combine two dfs, main is 2020. 

df_19N20 = df_2020_top.merge(memo_2019_group, left_on=['City Or County','State'], right_on=['city','state'])

In [43]:
df_19N20.head()

,City Or County,State,# Killed,# Injured,Incident ID,Total injured or killed_x,city,state,killed,injured,id,Total injured or killed_y
0,Chicago,Illinois,210,948,914,1158,Chicago,Illinois,57,238,246,295
1,NYC,New York,54,312,424,366,NYC,New York,17,66,95,83
2,Detroit,Michigan,54,256,338,310,Detroit,Michigan,20,41,49,61
3,Saint Louis,Missouri,72,204,208,276,Saint Louis,Missouri,42,60,88,102
4,Philadelphia,Pennsylvania,60,192,154,252,Philadelphia,Pennsylvania,26,84,88,110

In [44]:
df_19N20.columns = ['City Or County', 'State', 'Total Fatalities_2020', 'Total Non-Fatal Injuries_2020', 
                    'Total Incidents_2020','Total injured or killed_2020',
       'city', 'state', 'Total Fatalities_2019', 'Total Non-Fatal Injuries_2019', 'Total Incidents_2019',
                   'Total injured or killed_2019']

In [45]:
# Filter out only needful columns

df_19N20_2= df_19N20[['City Or County', 'State', 'Total Fatalities_2020', 'Total Non-Fatal Injuries_2020',
                      'Total Incidents_2020','Total injured or killed_2020',
          'Total Fatalities_2019', 'Total Non-Fatal Injuries_2019', 'Total Incidents_2019','Total injured or killed_2019']]

In [46]:
df_19N20_2.head()

,City Or County,State,Total Fatalities_2020,Total Non-Fatal Injuries_2020,Total Incidents_2020,Total injured or killed_2020,Total Fatalities_2019,Total Non-Fatal Injuries_2019,Total Incidents_2019,Total injured or killed_2019
0,Chicago,Illinois,210,948,914,1158,57,238,246,295
1,NYC,New York,54,312,424,366,17,66,95,83
2,Detroit,Michigan,54,256,338,310,20,41,49,61
3,Saint Louis,Missouri,72,204,208,276,42,60,88,102
4,Philadelphia,Pennsylvania,60,192,154,252,26,84,88,110

In [47]:
df_19N20_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   City Or County                 49 non-null     object
 1   State                          49 non-null     object
 2   Total Fatalities_2020          49 non-null     int64
 3   Total Non-Fatal Injuries_2020  49 non-null     int64
 4   Total Incidents_2020           49 non-null     int64
 5   Total injured or killed_2020   49 non-null     int64
 6   Total Fatalities_2019          49 non-null     int64
 7   Total Non-Fatal Injuries_2019  49 non-null     int64
 8   Total Incidents_2019           49 non-null     int64
 9   Total injured or killed_2019   49 non-null     int64
dtypes: int64(8), object(2)
memory usage: 4.2+ KB

## Grab Population for the city

In [48]:
cities_df = pd.read_csv(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/Census_API/Year_2010to2018/place_pop_2015_2018_asrh.csv")

In [49]:
cities_df.tail()

,FIPS_STATE,FIPS_PLACE,FIPS_STATE_PLACE,CITY_NAME,ST_NAME,NYU_500_LARGEST,YEAR,POP_TOTAL,PER_AGE_15TO44,PER_AGE_18PLUS,PER_AGE_65PLUS,POP_MALE,POP_FEMALE,POP_WHITE,POP_BLACK,POP_ASIAN,POP_AIAN,POP_NHOPI,POP_NONHISPANIC,POP_HISPANIC
2440,6,40130,640130,Lancaster city,California,1,2018,159038,41.1,69.1,10.0,82449,76589,94937,32316,6343,1615,162,89615,69423
2441,9,37000,937000,Hartford city,Connecticut,1,2018,122591,45.8,75.1,11.5,59277,63314,35129,46635,2868,974,404,66890,55701
2442,32,54600,3254600,Paradise CDP,Nevada,0,2018,242266,44.8,81.8,13.8,124081,118185,116955,30514,25388,2727,1708,156529,85737
2443,29,64082,2964082,St. Charles city,Missouri,0,2018,70770,41.8,83.0,16.7,35137,35633,60952,5211,2065,202,0,67915,2855
2444,8,9280,809280,Broomfield city,Colorado,0,2018,69267,41.9,77.1,13.9,34710,34557,60869,1103,4951,196,0,60537,8730

In [50]:
# Filter just 2018 data and pop_total column

cities_2018_df = cities_df[cities_df['YEAR']==2018]

In [51]:
cities_2018_df = cities_2018_df[['CITY_NAME', 'ST_NAME','POP_TOTAL','YEAR' ]]

In [52]:
cities_2018_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 630 entries, 1815 to 2444
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CITY_NAME  630 non-null    object
 1   ST_NAME    630 non-null    object
 2   POP_TOTAL  630 non-null    int64
 3   YEAR       630 non-null    int64
dtypes: int64(2), object(2)
memory usage: 24.6+ KB

In [53]:
cities_2018_df['ST_NAME'].str[1:].head()

1815    California
1816    California
1817    California
1818    California
1819         Texas
Name: ST_NAME, dtype: object

In [54]:
# city name includes 'city' at the end and there is a space in front of st name

# Excldue city
cities_2018_df["CITY_NAME"] = cities_2018_df["CITY_NAME"].str.replace(' city','')
# Excldue space
cities_2018_df['ST_NAME']=cities_2018_df['ST_NAME'].str[1:]

In [55]:
cities_2018_df

,CITY_NAME,ST_NAME,POP_TOTAL,YEAR
1815,Clovis,California,112019,2018
1816,Garden Grove,California,172652,2018
1817,Ontario,California,181119,2018
1818,Thousand Oaks,California,127720,2018
1819,El Paso,Texas,682686,2018
1820,Madison,Wisconsin,258034,2018
1821,Yorba Linda,California,67804,2018
1822,Hammond,Indiana,75806,2018
1823,St. Joseph,Missouri,75437,2018
1824,Brownsville,Texas,183389,2018
1825,Flagstaff,Arizona,73955,2018
1826,Boston,Massachusetts,695926,2018
1827,West Valley City,Utah,136420,2018
1828,Ponce zona urbana,Puerto Rico,107947,2018
1829,Cranston,Rhode Island,81282,2018
1830,Kent,Washington,129613,2018
1831,Vacaville,California,100147,2018
1832,Wellington village,Florida,65190,2018
1833,North Richland Hills,Texas,70839,2018
1834,Anaheim,California,352018,2018
1835,Oceanside,California,176090,2018
1836,Urban Honolulu CDP,Hawaii,347403,2018
1837,Kansas City,Missouri,491809,2018
1838,Corpus Christi,Texas,326566,2018
1839,Rocklin,California,67231,2018
1840,Tamarac,Florida,66043,2018
1841,Olathe,Kansas,139588,2018
1842,Bowling Green,Kentucky,68393,2018
1843,Lafayette,Louisiana,126149,2018
1844,Gaithersburg,Maryland,68294,2018
1845,Greenville,South Carolina,68543,2018
1846,Hayward,California,159618,2018
1847,San Diego,California,1425999,2018
1848,Fort Collins,Colorado,167823,2018
1849,Lowell,Massachusetts,111666,2018
1850,Arlington,Texas,398122,2018
1851,Denton,Texas,138553,2018
1852,Goodyear,Arizona,82837,2018
1853,Chino Hills,California,83438,2018
1854,Lake Elsinore,California,68187,2018
1855,Johns Creek,Georgia,84292,2018
1856,Surprise,Arizona,138144,2018
1857,South Bend,Indiana,103869,2018
1858,Nashua,New Hampshire,89257,2018
1859,Bayam√≥n zona urbana,Puerto Rico,155832,2018
1860,Chicago,Illinois,2705988,2018
1861,Milwaukee,Wisconsin,592002,2018
1862,Daytona Beach,Florida,68862,2018
1863,Miami,Florida,470911,2018
1864,Gulfport,Mississippi,71865,2018
1865,Sandy,Utah,96901,2018
1866,North Charleston,South Carolina,119214,2018
1867,Tyler,Texas,105727,2018
1868,Palo Alto,California,66655,2018
1869,Gainesville,Florida,133851,2018
1870,Bloomington,Illinois,77955,2018
1871,Elgin,Illinois,110893,2018
1872,Gary,Indiana,69602,2018
1873,Cedar Rapids,Iowa,133169,2018
1874,Centreville CDP,Virginia,78356,2018
1875,Eau Claire,Wisconsin,68256,2018
1876,Palmdale,California,156661,2018
1877,Santa Maria,California,107424,2018
1878,Hillsboro,Oregon,108382,2018
1879,Baltimore,Maryland,602495,2018
1880,Hollywood,Florida,154813,2018
1881,Port Charlotte CDP,Florida,64815,2018
1882,Riverview CDP,Florida,89982,2018
1883,Winston-Salem,North Carolina,246334,2018
1884,Menifee,California,92602,2018
1885,Riverside,California,330080,2018
1886,Springfield,Massachusetts,155029,2018
1887,Dale City CDP,Virginia,68805,2018
1888,South Gate,California,94439,2018
1889,Lawrence,Massachusetts,80370,2018
1890,Clifton,New Jersey,85272,2018
1891,Parma,Ohio,78746,2018
1892,Lawrence,Kansas,97293,2018
1893,Cleveland,Ohio,383781,2018
1894,Dayton,Ohio,140638,2018
1895,Simi Valley,California,125844,2018
1896,Coral Springs,Florida,133493,2018
1897,Sandy Springs,Georgia,108798,2018
1898,Decatur,Illinois,71860,2018
1899,Springfield,Illinois,114512,2018
1900,Troy,Michigan,84259,2018
1901,Jacksonville,North Carolina,72895,2018
1902,Fairfield,California,116885,2018
1903,Folsom,California,79015,2018
1904,Oxnard,California,209886,2018
1905,Thornton,Colorado,139430,2018
1906,Bridgeport,Connecticut,144898,2018
1907,Joliet,Illinois,149356,2018
1908,Midland,Texas,142339,2018
1909,Indio,California,91235,2018
1910,Hialeah,Florida,238950,2018
1911,Cambridge,Massachusetts,118967,2018
1912,Worcester,Massachusetts,185883,2018
1913,San Angelo,Texas,101824,2018
1914,Glendale,Arizona,250705,2018
1915,Scottsdale,Arizona,255315,2018
1916,Bakersfield,California,383601,2018
1917,Escondido,California,152232,2018
1918,Billings,Montana,109544,2018
1919,Durham,North Carolina,274497,2018
1920,Albany,Georgia,71646,2018
1921,Denver,Colorado,716492,2018
1922,Hampton,Virginia,134313,2018
1923,South Fulton,Georgia,97266,2018
1924,Bossier City,Louisiana,68222,2018
1925,Ellicott City CDP,Maryland,72689,2018
1926,Quincy,Massachusetts,94590,2018
1927,Sunnyvale,California,153175,2018
1928,Tacoma,Washington,216271,2018
1929,Bismarck,North Dakota,71843,2018
1930,Macon-Bibb County,Georgia,153095,2018
1931,Madera,California,65711,2018
1932,Jupiter town,Florida,65544,2018
1933,Santa Rosa,California,177587,2018
1934,Aurora,Colorado,373487,2018
1935,Sparks,Nevada,104254,2018
1936,Syracuse,New York,142740,2018
1937,Mobile,Alabama,189570,2018
1938,Round Rock,Texas,128490,2018
1939,San Ramon,California,75832,2018
1940,Kendall CDP,Florida,75979,2018
1941,Alpharetta,Georgia,66263,2018
1942,Scranton,Pennsylvania,77186,2018
1943,Yuma,Arizona,97917,2018
1944,Visalia,California,133783,2018
1945,Omaha,Nebraska,468267,2018
1946,Marysville,Washington,69765,2018
1947,Savannah,Georgia,145852,2018
1948,Kenner,Louisiana,66656,2018
1949,Norfolk,Virginia,244076,2018
1950,Norwalk,Connecticut,89049,2018
1951,New Bedford,Massachusetts,95323,2018
1952,Renton,Washington,102152,2018
1953,Costa Mesa,California,113610,2018
1954,Pembroke Pines,Florida,172387,2018
1955,Detroit,Michigan,672681,2018
1956,Lansing,Michigan,117388,2018
1957,Irving,Texas,242228,2018
1958,Chico,California,94787,2018
1959,Camarillo,California,69112,2018
1960,Homestead,Florida,70469,2018
1961,Shawnee,Kansas,65844,2018
1962,Peoria,Arizona,172272,2018
1963,Victorville,California,122305,2018
1964,Buffalo,New York,256322,2018
1965,Wichita Falls,Texas,104568,2018
1966,Milpitas,California,80424,2018
1967,Athens-Clarke County unified government (balance),Georgia,126000,2018
1968,Sterling Heights,Michigan,132967,2018
1969,Framingham,Massachusetts,73123,2018
1970,Newark,New Jersey,282102,2018
1971,Lehi,Utah,66029,2018
1972,Broken Arrow,Oklahoma,110123,2018
1973,Chula Vista,California,271653,2018
1974,Pleasanton,California,82377,2018
1975,Federal Way,Washington,97037,2018
1976,Birmingham,Alabama,209294,2018
1977,Daly City,California,107016,2018
1978,Richmond,California,110175,2018
1979,Temecula,California,114749,2018
1980,Walnut Creek,California,69814,2018
1981,Boulder,Colorado,107355,2018
1982,New Britain,Connecticut,72440,2018
1983,Cape Coral,Florida,189342,2018
1984,Kissimmee,Florida,73596,2018
1985,Brockton,Massachusetts,95781,2018
1986,Clarksville,Tennessee,156800,2018
1987,Conway,Arkansas,66421,2018
1988,Westland,Michigan,81714,2018
1989,North Little Rock,Arkansas,66126,2018
1990,Charleston,South Carolina,141088,2018
1991,Pearland,Texas,124321,2018
1992,The Woodlands CDP,Texas,107305,2018
1993,Alhambra,California,84650,2018
1994,Roseville,California,139110,2018
1995,Santa Monica,California,91417,2018
1996,Wyoming,Michigan,75812,2018
1997,Santa Clara,California,129489,2018
1998,Davie town,Florida,106565,2018
1999,Franklin,Tennessee,80920,2018
2000,Modesto,California,215032,2018
2001,Norwalk,California,105125,2018
2002,Columbus,Ohio,895877,2018
2003,Longmont,Colorado,95986,2018
2004,Bloomington,Minnesota,85574,2018
2005,Union City,New Jersey,68521,2018
2006,St. George,Utah,87178,2018
2007,Manteca,California,81593,2018
2008,Vista,California,101227,2018
2009,Whittier,California,86060,2018
2010,Augusta-Richmond County consolidated governmen...,Georgia,196138,2018
2011,Odessa,Texas,122440,2018
2012,Spokane,Washington,219197,2018
2013,Knoxville,Tennessee,187514,2018
2014,Redwood City,California,86186,2018
2015,Miramar,Florida,140827,2018
2016,Rockford,Illinois,147676,2018
2017,Lynn,Massachusetts,94655,2018
2018,Sammamish,Washington,65726,2018
2019,Jurupa Valley,California,108400,2018
2020,Salt Lake City,Utah,200576,2018
2021,Portsmouth,Virginia,94632,2018
2022,Lakewood,California,80132,2018
2023,Perris,California,79139,2018
2024,Deerfield Beach,Florida,80854,2018
2025,Deltona,Florida,91946,2018
2026,Plantation,Florida,94291,2018
2027,West Palm Beach,Florida,111389,2018
2028,Tulsa,Oklahoma,401112,2018
2029,Carson,California,91899,2018
2030,Sacramento,California,508517,2018
2031,Yuba City,California,66988,2018
2032,St. Petersburg,Florida,265100,2018
2033,Jersey City,New Jersey,265560,2018
2034,Brentwood CDP,New York,64855,2018
2035,Highlands Ranch CDP,Colorado,108257,2018
2036,Delray Beach,Florida,69356,2018
2037,Paterson,New Jersey,145626,2018
2038,New Braunfels,Texas,85566,2018
2039,South Jordan,Utah,74155,2018
2040,Austin,Texas,964243,2018
2041,El Monte,California,115602,2018
2042,Auburn,Alabama,65737,2018
2043,Florence-Graham CDP,California,63621,2018
2044,Lynwood,California,70492,2018
2045,Wilmington,Delaware,70653,2018
2046,Largo,Florida,85008,2018
2047,Avondale,Arizona,85828,2018
2048,Berkeley,California,121654,2018
2049,St. Paul,Minnesota,307701,2018
2050,Raleigh,North Carolina,470509,2018
2051,Baldwin Park,California,75806,2018
2052,Bloomington,Indiana,86522,2018
2053,Anchorage municipality,Alaska,291538,2018
2054,Philadelphia,Pennsylvania,1584138,2018
2055,Cicero town,Illinois,81602,2018
2056,Frederick,Maryland,72152,2018
2057,Fall River,Massachusetts,89662,2018
2058,Somerville,Massachusetts,81568,2018
2059,Carrollton,Texas,136869,2018
2060,Los Angeles,California,3990469,2018
2061,Burbank,California,103687,2018
2062,Greenville,North Carolina,93136,2018
2063,Redondo Beach,California,67396,2018
2064,Iowa City,Iowa,76291,2018
2065,Concord,North Carolina,94134,2018
2066,McAllen,Texas,143429,2018
2067,Aurora,Illinois,206389,2018
2068,Kansas City,Kansas,154361,2018
2069,Henderson,Nevada,310374,2018
2070,Grand Prairie,Texas,194600,2018
2071,Fayetteville,Arkansas,86765,2018
2072,Pasadena,Texas,153212,2018
2073,South Whittier CDP,California,65577,2018
2074,Fort Myers,Florida,82260,2018
2075,Port St. Lucie,Florida,195251,2018
2076,Georgetown,Texas,74176,2018
2077,Waco,Texas,138180,2018
2078,Fort Smith,Arkansas,87851,2018
2079,Citrus Heights,California,87916,2018
2080,Fontana,California,213736,2018
2081,North Las Vegas,Nevada,245949,2018
2082,Alameda,California,78322,2018
2083,Lake Charles,Louisiana,77999,2018
2084,Plymouth,Minnesota,79437,2018
2085,Phoenix,Arizona,1660272,2018
2086,Lexington-Fayette urban county,Kentucky,323780,2018
2087,Carmichael CDP,California,65328,2018
2088,Noblesville,Indiana,66358,2018
2089,Brooklyn Park,Minnesota,80614,2018
2090,Cincinnati,Ohio,302615,2018
2091,Youngstown,Ohio,64958,2018
2092,Johnson City,Tennessee,68245,2018
2093,Cedar Park,Texas,75553,2018
2094,Pharr,Texas,79704,2018
2095,Orange,California,139502,2018
2096,Frisco,Texas,188153,2018
2097,Lewisville,Texas,106205,2018
2098,Kenosha,Wisconsin,100151,2018
2099,Metairie CDP,Louisiana,141114,2018
2100,Murrieta,California,114982,2018
2101,Portland,Maine,66420,2018
2102,Rochester,Minnesota,116957,2018
2103,Irvine,California,282584,2018
2104,Livermore,California,90258,2018
2105,Mesquite,Texas,142874,2018
2106,Auburn,Washington,82782,2018
2107,Hawthorne,California,86970,2018
2108,Wesley Chapel CDP,Florida,65249,2018
2109,Overland Park,Kansas,192525,2018
2110,Springfield,Missouri,168113,2018
2111,Apple Valley town,California,73508,2018
2112,Bellflower,California,77132,2018
2113,Buena Park,California,82435,2018
2114,Evansville,Indiana,117967,2018
2115,Mesa,Arizona,508979,2018
2116,Chino,California,91589,2018
2117,Westminster,Colorado,113473,2018
2118,Charlotte,North Carolina,872506,2018
2119,Killeen,Texas,149102,2018
2120,Ogden,Utah,87305,2018
2121,Columbus,Georgia,194160,2018
2122,Lynchburg,Virginia,82126,2018
2123,Richmond,Virginia,228783,2018
2124,Santa Barbara,California,91330,2018
2125,Palm Bay,Florida,114190,2018
2126,Champaign,Illinois,88033,2018
2127,Redmond,Washington,67680,2018
2128,San Marcos,California,96834,2018
2129,Pueblo,Colorado,111751,2018
2130,Greensboro,North Carolina,294726,2018
2131,Allentown,Pennsylvania,121429,2018
2132,Laguna Niguel,California,66265,2018
2133,San Clemente,California,64850,2018
2134,Arlington Heights village,Illinois,77259,2018
2135,Bellevue,Washington,147595,2018
2136,Waukesha,Wisconsin,72549,2018
2137,Minneapolis,Minnesota,425395,2018
2138,Norman,Oklahoma,123469,2018
2139,Chandler,Arizona,257153,2018
2140,Tampa,Florida,392905,2018
2141,Louisville/Jefferson County metro government (...,Kentucky,620149,2018
2142,Garland,Texas,242402,2018
2143,McKinney,Texas,191666,2018
2144,Davenport,Iowa,102080,2018
2145,Temple,Texas,76251,2018
2146,Redlands,California,71595,2018
2147,Town 'n' Country CDP,Florida,82577,2018
2148,Meridian,Idaho,106794,2018
2149,Jackson,Mississippi,164720,2018
2150,Jackson,Tennessee,66900,2018
2151,Boynton Beach,Florida,78038,2018
2152,Spring Hill CDP,Florida,117519,2018
2153,Livonia,Michigan,93970,2018
2154,Beaumont,Texas,118425,2018
2155,Stockton,California,311189,2018
2156,Yonkers,New York,199646,2018
2157,Peoria,Illinois,115720,2018
2158,Farmington Hills,Michigan,81103,2018
2159,Columbia,Missouri,123182,2018
2160,High Point,North Carolina,114322,2018
2161,Cheektowaga CDP,New York,74223,2018
2162,Jonesboro,Arkansas,76990,2018
2163,South San Francisco,California,67736,2018
2164,Pompano Beach,Florida,111930,2018
2165,Independence,Missouri,116939,2018
2166,Wilmington,North Carolina,122610,2018
2167,Allen,Texas,103378,2018
2168,Sugar Land,Texas,118614,2018
2169,Fresno,California,530073,2018
2170,Oakland,California,429114,2018
2171,Lincoln,Nebraska,287399,2018
2172,San Tan Valley CDP,Arizona,105922,2018
2173,Sioux City,Iowa,82762,2018
2174,Maple Grove,Minnesota,71812,2018
2175,Newport News,Virginia,178626,2018
2176,San Mateo,California,105016,2018
2177,Baton Rouge,Louisiana,221606,2018
2178,Guaynabo zona urbana,Puerto Rico,67294,2018
2179,Waterbury,Connecticut,108086,2018
2180,Abilene,Texas,125456,2018
2181,Suffolk,Virginia,91185,2018
2182,Hoover,Alabama,85115,2018
2183,Lake Forest,California,85619,2018
2184,The Hammocks CDP,Florida,64910,2018
2185,Germantown CDP,Maryland,81399,2018
2186,College Station,Texas,116218,2018
2187,Pittsburgh,Pennsylvania,301038,2018
2188,Passaic,New Jersey,69945,2018
2189,Waldorf CDP,Maryland,78591,2018
2190,Camden,New Jersey,73968,2018
2191,Mission,Texas,84829,2018
2192,Santa Ana,California,332727,2018
2193,Union City,California,74568,2018
2194,Toledo,Ohio,274973,2018
2195,Portland,Oregon,652573,2018
2196,Houston,Texas,2326090,2018
2197,Yakima,Washington,93874,2018
2198,San Francisco,California,883305,2018
2199,New Orleans,Louisiana,391006,2018
2200,Davis,California,69288,2018
2201,Sunrise,Florida,95461,2018
2202,Carmel,Indiana,95767,2018
2203,St. Cloud,Minnesota,68928,2018
2204,Bayonne,New Jersey,65082,2018
2205,Atascocita CDP,Texas,86243,2018
2206,Racine,Wisconsin,77434,2018
2207,Albuquerque,New Mexico,560234,2018
2208,Medford,Oregon,82348,2018
2209,Salem,Oregon,173420,2018
2210,Woodbury,Minnesota,71299,2018
2211,St. Louis,Missouri,302838,2018
2212,Miami Beach,Florida,91715,2018
2213,Ames,Iowa,67155,2018
2214,Glen Burnie CDP,Maryland,65987,2018
2215,Lakeville,Minnesota,65871,2018
2216,Providence,Rhode Island,179335,2018
2217,Bellingham,Washington,90660,2018
2218,Tucson,Arizona,545987,2018
2219,Long Beach,California,467353,2018
2220,Des Moines,Iowa,216993,2018
2221,Gresham,Oregon,110165,2018
2222,Carlsbad,California,115897,2018
2223,Rialto,California,103446,2018
2224,Lakeland,Florida,110494,2018
2225,Ann Arbor,Michigan,121885,2018
2226,Mount Vernon,New York,67606,2018
2227,Rock Hill,South Carolina,74308,2018
2228,Laredo,Texas,259512,2018
2229,Missouri City,Texas,72978,2018
2230,Antioch,California,111535,2018
2231,Corona,California,168826,2018
2232,Alafaya CDP,Florida,92740,2018
2233,Mission Viejo,California,95196,2018
2234,Tustin,California,79787,2018
2235,Lauderhill,Florida,72081,2018
2236,Melbourne,Florida,82823,2018
2237,Toms River CDP,New Jersey,91268,2018
2238,Enterprise CDP,Nevada,187078,2018
2239,Plano,Texas,287765,2018
2240,Casas Adobes CDP,Arizona,75694,2018
2241,Nampa,Idaho,96245,2018
2242,Alexandria,Virginia,160530,2018
2243,Warner Robins,Georgia,75413,2018
2244,Boise City,Idaho,228807,2018
2245,Skokie village,Illinois,63292,2018
2246,Manchester,New Hampshire,112529,2018
2247,Hemet,California,85291,2018
2248,Redding,California,91777,2018
2249,Fort Lauderdale,Florida,182611,2018
2250,Wichita,Kansas,389259,2018
2251,Fort Worth,Texas,898919,2018
2252,Ankeny,Iowa,65282,2018
2253,Lee's Summit,Missouri,98919,2018
2254,Murfreesboro,Tennessee,141336,2018
2255,Centennial,Colorado,110822,2018
2256,Grand Rapids,Michigan,200230,2018
2257,Castro Valley CDP,California,63226,2018
2258,Rochester Hills,Michigan,74700,2018
2259,Blaine,Minnesota,65215,2018
2260,Newport Beach,California,85315,2018
2261,Pine Hills CDP,Florida,90070,2018
2262,Columbia CDP,Maryland,106772,2018
2263,San Buenaventura (Ventura),California,111120,2018
2264,Lubbock,Texas,255885,2018
2265,Kalamazoo,Michigan,76557,2018
2266,Duluth,Minnesota,85884,2018
2267,Loveland,Colorado,77444,2018
2268,East Orange,New Jersey,64469,2018
2269,Buckeye,Arizona,74378,2018
2270,Glendale,California,201374,2018
2271,Santa Clarita,California,210085,2018
2272,Nashville-Davidson metropolitan government (ba...,Tennessee,665498,2018
2273,Pasco,Washington,71727,2018
2274,Boca Raton,Florida,99241,2018
2275,New Rochelle,New York,78747,2018
2276,Fullerton,California,139629,2018
2277,Rancho Cordova,California,74590,2018
2278,Lakewood,Colorado,156779,2018
2279,Stamford,Connecticut,129770,2018
2280,Shreveport,Louisiana,189149,2018
2281,Eugene,Oregon,171259,2018
2282,Tallahassee,Florida,193550,2018
2283,Evanston,Illinois,74110,2018
2284,Naperville,Illinois,147823,2018
2285,Fishers,Indiana,93790,2018
2286,Rockville,Maryland,68252,2018
2287,Layton,Utah,77306,2018
2288,Inglewood,California,109427,2018
2289,Indianapolis (balance),Indiana,864131,2018
2290,San Juan zona urbana,Puerto Rico,309990,2018
2291,Santa Cruz,California,64729,2018
2292,Palm Coast,Florida,87617,2018
2293,The Villages CDP,Florida,-998,2018
2294,Southfield,Michigan,73141,2018
2295,Eagan,Minnesota,66539,2018
2296,Longview,Texas,81424,2018
2297,Caguas zona urbana,Puerto Rico,72704,2018
2298,Salinas,California,156275,2018
2299,West Covina,California,106314,2018
2300,Rio Rancho,New Mexico,98016,2018
2301,Santa Fe,New Mexico,84605,2018
2302,Sioux Falls,South Dakota,181906,2018
2303,Mansfield,Texas,74786,2018
2304,Chesapeake,Virginia,242634,2018
2305,Roanoke,Virginia,99920,2018
2306,Danbury,Connecticut,84731,2018
2307,Asheville,North Carolina,92460,2018
2308,San Antonio,Texas,1532212,2018
2309,Tempe,Arizona,192354,2018
2310,Little Rock,Arkansas,197868,2018
2311,Schaumburg village,Illinois,73970,2018
2312,Missoula,Montana,74427,2018
2313,Lodi,California,66995,2018
2314,Mountain View,California,83377,2018
2315,Westminster,California,90931,2018
2316,Pawtucket,Rhode Island,71842,2018
2317,Kennewick,Washington,82950,2018
2318,Gilbert town,Arizona,248269,2018
2319,Torrance,California,145181,2018
2320,Atlanta,Georgia,498073,2018
2321,Cary town,North Carolina,169537,2018
2322,Memphis,Tennessee,650632,2018
2323,Kirkland,Washington,89557,2018
2324,Waterloo,Iowa,67797,2018
2325,Compton,California,96616,2018
2326,Akron,Ohio,198025,2018
2327,League City,Texas,106188,2018
2328,San Bernardino,California,215929,2018
2329,Waukegan,Illinois,82934,2018
2330,Spring Valley CDP,Nevada,214161,2018
2331,Dallas,Texas,1345076,2018
2332,Provo,Utah,116713,2018
2333,Flower Mound town,Texas,77038,2018
2334,Rogers,Arkansas,67615,2018
2335,Weston,Florida,71224,2018
2336,Baytown,Texas,77962,2018
2337,Edinburg,Texas,98671,2018
2338,Colorado Springs,Colorado,472666,2018
2339,Las Cruces,New Mexico,102929,2018
2340,Erie,Pennsylvania,96459,2018
2341,Trenton,New Jersey,83973,2018
2342,Spokane Valley,Washington,99703,2018
2343,New York,New York,8398748,2018
2344,North Port,Florida,68637,2018
2345,Silver Spring CDP,Maryland,81816,2018
2346,Oshkosh,Wisconsin,66737,2018
2347,Merced,California,83311,2018
2348,Orlando,Florida,285705,2018
2349,Topeka,Kansas,125908,2018
2350,Schenectady,New York,65570,2018
2351,West Jordan,Utah,116047,2018
2352,San Leandro,California,89683,2018
2353,Bryan,Texas,85447,2018
2354,Appleton,Wisconsin,74345,2018
2355,Huntsville,Alabama,199808,2018
2356,Huntington Beach,California,200658,2018
2357,Pomona,California,152348,2018

In [56]:
cities_2018_df['CITY_NAME'].loc[cities_2018_df['CITY_NAME']=='New York'] = 'NYC'

cities_2018_df['CITY_NAME'].loc[cities_2018_df['CITY_NAME']=='St. Louis'] = 'Saint Louis'

cities_2018_df['CITY_NAME'].loc[cities_2018_df['CITY_NAME']=='Indianapolis (balance)'] ='Indianapolis'

cities_2018_df['CITY_NAME'].loc[cities_2018_df['CITY_NAME']=='Louisville/Jefferson County metro government (balance)'] = 'Louisville'

cities_2018_df['CITY_NAME'].loc[cities_2018_df['CITY_NAME']=='Nashville-Davidson metropolitan government (balance)'] = 'Nashville'

/Users/jasonlim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [57]:
cities_2018_df.loc[cities_2018_df['ST_NAME']=='Missouri']

         CITY_NAME   ST_NAME  POP_TOTAL  YEAR
1823    St. Joseph  Missouri      75437  2018
1837   Kansas City  Missouri     491809  2018
2110   Springfield  Missouri     168113  2018
2159      Columbia  Missouri     123182  2018
2165  Independence  Missouri     116939  2018
2211   Saint Louis  Missouri     302838  2018
2253  Lee's Summit  Missouri      98919  2018
2360      O'Fallon  Missouri      88464  2018
2443   St. Charles  Missouri      70770  2018

In [58]:
df_19N20_3 = df_19N20_2.merge(cities_2018_df, left_on=['City Or County','State'], right_on=['CITY_NAME','ST_NAME'])

In [59]:
df_19N20_3 = df_19N20_3[['City Or County', 'State', 'Total Fatalities_2020',
       'Total Non-Fatal Injuries_2020', 'Total Incidents_2020',
       'Total injured or killed_2020', 'Total Fatalities_2019',
       'Total Non-Fatal Injuries_2019', 'Total Incidents_2019',
       'Total injured or killed_2019','POP_TOTAL']]

In [60]:
df_19N20_3.head()

,City Or County,State,Total Fatalities_2020,Total Non-Fatal Injuries_2020,Total Incidents_2020,Total injured or killed_2020,Total Fatalities_2019,Total Non-Fatal Injuries_2019,Total Incidents_2019,Total injured or killed_2019,POP_TOTAL
0,Chicago,Illinois,210,948,914,1158,57,238,246,295,2705988
1,NYC,New York,54,312,424,366,17,66,95,83,8398748
2,Detroit,Michigan,54,256,338,310,20,41,49,61,672681
3,Saint Louis,Missouri,72,204,208,276,42,60,88,102,302838
4,Philadelphia,Pennsylvania,60,192,154,252,26,84,88,110,1584138

In [61]:
df_19N20_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   City Or County                 49 non-null     object
 1   State                          49 non-null     object
 2   Total Fatalities_2020          49 non-null     int64
 3   Total Non-Fatal Injuries_2020  49 non-null     int64
 4   Total Incidents_2020           49 non-null     int64
 5   Total injured or killed_2020   49 non-null     int64
 6   Total Fatalities_2019          49 non-null     int64
 7   Total Non-Fatal Injuries_2019  49 non-null     int64
 8   Total Incidents_2019           49 non-null     int64
 9   Total injured or killed_2019   49 non-null     int64
 10  POP_TOTAL                      49 non-null     int64
dtypes: int64(9), object(2)
memory usage: 4.6+ KB

In [62]:
# annual rates of the month
df_19N20_3['One_Month_Population'] = round(df_19N20_3['POP_TOTAL']/12, 0)

In [63]:
## Creating Columns for Differences

df_19N20_3['Diff_Fatalities'] = df_19N20_3['Total Fatalities_2020'] - df_19N20_3['Total Fatalities_2019']
df_19N20_3['Diff_NonFatal_Injuries'] = df_19N20_3['Total Non-Fatal Injuries_2020'] - df_19N20_3['Total Non-Fatal Injuries_2019']
df_19N20_3['Diff_Incidents'] = df_19N20_3['Total Incidents_2020'] - df_19N20_3['Total Incidents_2019']

In [64]:
# rates per 100k population for 2019 and 2020 fatal, non-fatal, incidents

df_19N20_3['Fatality_2020_per_100k'] = round(100000*(df_19N20_3['Total Fatalities_2020']/df_19N20_3['One_Month_Population']),2)
df_19N20_3['NonFatal_2020_per_100k'] = round(100000*(df_19N20_3['Total Non-Fatal Injuries_2020']/df_19N20_3['One_Month_Population']),2)
df_19N20_3['Incidents_2020_per_100k'] = round(100000*(df_19N20_3['Total Incidents_2020']/df_19N20_3['One_Month_Population']),2)


df_19N20_3['Fatality_2019_per_100k'] = round(100000*(df_19N20_3['Total Fatalities_2019']/df_19N20_3['One_Month_Population']),2)
df_19N20_3['NonFatal_2019_per_100k'] = round(100000*(df_19N20_3['Total Non-Fatal Injuries_2019']/df_19N20_3['One_Month_Population']),2)
df_19N20_3['Incidents_2019_per_100k'] = round(100000*(df_19N20_3['Total Incidents_2019']/df_19N20_3['One_Month_Population']),2)

In [65]:
df_19N20_3.head()

,City Or County,State,Total Fatalities_2020,Total Non-Fatal Injuries_2020,Total Incidents_2020,Total injured or killed_2020,Total Fatalities_2019,Total Non-Fatal Injuries_2019,Total Incidents_2019,Total injured or killed_2019,POP_TOTAL,One_Month_Population,Diff_Fatalities,Diff_NonFatal_Injuries,Diff_Incidents,Fatality_2020_per_100k,NonFatal_2020_per_100k,Incidents_2020_per_100k,Fatality_2019_per_100k,NonFatal_2019_per_100k,Incidents_2019_per_100k
0,Chicago,Illinois,210,948,914,1158,57,238,246,295,2705988,225499.0,153,710,668,93.13,420.40,405.32,25.28,105.54,109.09
1,NYC,New York,54,312,424,366,17,66,95,83,8398748,699896.0,37,246,329,7.72,44.58,60.58,2.43,9.43,13.57
2,Detroit,Michigan,54,256,338,310,20,41,49,61,672681,56057.0,34,215,289,96.33,456.68,602.96,35.68,73.14,87.41
3,Saint Louis,Missouri,72,204,208,276,42,60,88,102,302838,25236.0,30,144,120,285.31,808.37,824.22,166.43,237.76,348.71
4,Philadelphia,Pennsylvania,60,192,154,252,26,84,88,110,1584138,132012.0,34,108,66,45.45,145.44,116.66,19.70,63.63,66.66

In [66]:
# % difference in rates for fatal, non-fatal, incidents

df_19N20_3['Per_Diff_Fatal_per_100K'] = 100*round((df_19N20_3['Fatality_2020_per_100k'] - df_19N20_3['Fatality_2019_per_100k'])
                                             /df_19N20_3['Fatality_2019_per_100k'], 4)


df_19N20_3['Per_Diff_NonFatal_per_100K'] = 100*round((df_19N20_3['NonFatal_2020_per_100k'] - df_19N20_3['NonFatal_2019_per_100k'])
                                             /df_19N20_3['NonFatal_2019_per_100k'], 4)

df_19N20_3['Per_Diff_Incidents_per_100K'] = 100*round((df_19N20_3['Incidents_2020_per_100k'] - df_19N20_3['Incidents_2019_per_100k'])
                                             /df_19N20_3['Incidents_2019_per_100k'], 4)

order the columns as city, state, % difference in rate non-fatal, % diff in rate fatal, % diff in rate incident, 2020 counts same order nf,f,i, 2019 counts same order nf,f,i, diff in count same order, total population, 2020 rates same order, 2019 rates same order

In [68]:
df_19N20_3.columns

Index(['City Or County', 'State', 'Total Fatalities_2020',
       'Total Non-Fatal Injuries_2020', 'Total Incidents_2020',
       'Total injured or killed_2020', 'Total Fatalities_2019',
       'Total Non-Fatal Injuries_2019', 'Total Incidents_2019',
       'Total injured or killed_2019', 'POP_TOTAL', 'One_Month_Population',
       'Diff_Fatalities', 'Diff_NonFatal_Injuries', 'Diff_Incidents',
       'Fatality_2020_per_100k', 'NonFatal_2020_per_100k',
       'Incidents_2020_per_100k', 'Fatality_2019_per_100k',
       'NonFatal_2019_per_100k', 'Incidents_2019_per_100k',
       'Per_Diff_Fatal_per_100K', 'Per_Diff_NonFatal_per_100K',
       'Per_Diff_Incidents_per_100K'],
      dtype='object')

In [69]:
df_19N20_4 = df_19N20_3[['City Or County', 'State', 'Per_Diff_NonFatal_per_100K','Per_Diff_Fatal_per_100K','Per_Diff_Incidents_per_100K',
 'Total Non-Fatal Injuries_2020', 'Total Fatalities_2020','Total Incidents_2020','Total injured or killed_2020',
 'Total Non-Fatal Injuries_2019', 'Total Fatalities_2019','Total Incidents_2019','Total injured or killed_2019',
 'Diff_NonFatal_Injuries', 'Diff_Fatalities','Diff_Incidents','POP_TOTAL','One_Month_Population',
 'NonFatal_2020_per_100k', 'Fatality_2020_per_100k','Incidents_2020_per_100k',
 'NonFatal_2019_per_100k','Fatality_2019_per_100k', 'Incidents_2019_per_100k']]

In [70]:
df_19N20_5 = df_19N20_4.sort_values('Per_Diff_NonFatal_per_100K', ascending=False).reset_index(drop=True)

In [71]:
# Map the lowering function to all column names
df_19N20_5.columns = map(str.upper, df_19N20_5.columns)

In [72]:
df_19N20_5.head()

,CITY OR COUNTY,STATE,PER_DIFF_NONFATAL_PER_100K,PER_DIFF_FATAL_PER_100K,PER_DIFF_INCIDENTS_PER_100K,TOTAL NON-FATAL INJURIES_2020,TOTAL FATALITIES_2020,TOTAL INCIDENTS_2020,TOTAL INJURED OR KILLED_2020,TOTAL NON-FATAL INJURIES_2019,TOTAL FATALITIES_2019,TOTAL INCIDENTS_2019,TOTAL INJURED OR KILLED_2019,DIFF_NONFATAL_INJURIES,DIFF_FATALITIES,DIFF_INCIDENTS,POP_TOTAL,ONE_MONTH_POPULATION,NONFATAL_2020_PER_100K,FATALITY_2020_PER_100K,INCIDENTS_2020_PER_100K,NONFATAL_2019_PER_100K,FATALITY_2019_PER_100K,INCIDENTS_2019_PER_100K
0,Albany,New York,1180.06,inf,820.04,64,4,46,68,5,0,5,5,59,4,41,97273,8106.0,789.54,49.35,567.48,61.68,0.00,61.68
1,Minneapolis,Minnesota,976.96,233.25,757.18,140,20,120,160,13,6,14,19,127,14,106,425395,35450.0,394.92,56.42,338.50,36.67,16.93,39.49
2,Sacramento,California,899.89,300.00,442.80,40,16,38,56,4,4,7,8,36,12,31,508517,42376.0,94.39,37.76,89.67,9.44,9.44,16.52
3,Denver,Colorado,820.43,60.10,300.05,46,8,44,54,5,5,11,10,41,3,33,716492,59708.0,77.04,13.40,73.69,8.37,8.37,18.42
4,Wilmington,Delaware,800.06,inf,150.00,36,4,30,40,4,0,12,4,32,4,18,70653,5888.0,611.41,67.93,509.51,67.93,0.00,203.80

In [73]:
# Export out

df_19N20_5.to_excel(r"/Users/jasonlim/Downloads/Non_Fatal/non_fatal_2019N2020.xlsx", index=False)